.footer {
  background: $third-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: normal;
  }
}

.footer-item {
  // outline: 1px solid blue;
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-bottom: 0px;
    text-align: left;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-left: 93px;
    }
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

/*.footer-item + .footer-item {
  margin-left: 70px;
}
.footer-item:last-child {
  margin-left: 93px;
}*/

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $first-text-color;
  font-style: normal;
  margin-top: 20px;
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 8px;
  transition: $time;
  transition-timing-function: $cubic-bezier;
  @media screen and (min-width: 1200px) {
    margin-top: 9px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $first-text-color;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    margin-top: 12px;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: $time;
  transition-timing-function: $cubic-bezier;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-social-icon {
  fill: $first-bg-color;
}

.footer-form {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: contents;
  }
}

.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $first-text-color;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    margin-top: 12px;
  }
}

.input-email {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  height: 50px;
  width: 93.75vw;
  padding: 15px 16px;
  transition: $time;
  transition-timing-function: $cubic-bezier;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    position: relative;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 125%;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form-button {
  color: $first-text-color;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  width: 200px;
  height: 50px;
  margin: 20px auto 0 auto;
  padding: 10 29;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  transition: $time;
  transition-timing-function: $cubic-bezier;
  @media screen and (min-width: 1200px) {
    margin: 0 0 0 12px;
    position: absolute;
  }

  &:hover,
  &:focus {
    background-color: $buton-hover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

.footer-form-button svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  fill: $first-bg-color;
  margin-left: 10px;
}
