.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.portfolio-btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.portfolio-btn-item {
  margin-right: 8px;
  margin-top: 15px;
  &:nth-child(3),
  &:last-child {
    margin-right: 0px;
  }
}

.portfolio-btn-item:nth-child(3) {
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
}

.portfolio-btn {
  background: $second-bg-color;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 3.81vw;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $second-text-color;
  cursor: pointer;
  padding: 6px 5.24vw;
  transition: $time;
  transition-timing-function: $cubic-bezier;
  @media screen and (min-width: 480px) {
    padding: 6px 22px;
    font-size: 16px;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $first-text-color;
    box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001a;
  }
}

.portfolio-images {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.portfolio-image {
  margin-bottom: 30px;
  background: $first-bg-color;
  box-sizing: border-box;
  transition: $time;
  transition-timing-function: $cubic-bezier;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  color: $first-text-color;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  transition: transform 250ms;
  transition: $time;
  transition-timing-function: $cubic-bezier;
  background: rgba(33, 150, 243, 0.9);
  padding: 64px 24px;
  height: 100%;
  transform: translateY(100%);

  .portfolio-image:hover & {
    transform: translateY(0);
  }
}

.portfolio-desc {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.pb56 {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding-bottom: 56px;
  }
}

.portfolio-image-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $second-text-color;
  margin-bottom: 4px;
}

.portfolio-image-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $third-text-color;
}
