.work {
  display: none;
  padding-bottom: 94px;
  @media screen and (min-width: 1200px) {
    display: inherit;
  }
}

.work-list {
  margin-bottom: -30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.work-items {
  margin-bottom: 30px;
  margin-left: 30px;
}

.work-title,
.team-title,
.partner-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $second-text-color;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
