.connect {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.connect__mail {
  @media screen and (min-width: 768px) {
    // width: 14px;
    // height: 10px
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    // width: 16px;
    // height: 12px;
    margin-right: 30px;
  }
}
// .connect__tel {
//   @media screen and (min-width: 768px) {
//     width: 10px;
//     height: 14px;
//   }
//     @media screen and (min-width: 1200px) {
//     width: 10px;
//     height: 16px;
//   }
//   }

.connect__tel,
.connect__mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $third-text-color;
  transition: $time;
  transition-timing-function: $cubic-bezier;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

// for icons
.connect__icon {
  fill: #757575;
  margin: auto 10px auto 0;
  transition: $time;
  transition-timing-function: $cubic-bezier;

  .connect__mail:hover &,
  .connect__tel:hover &,
  .connect__mail:focus &,
  .connect__tel:focus & {
    fill: $accent-color;
  }
}
