.logo {
  font-family: $font-logo;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $accent-color;

  &__label-header {
    color: $second-text-color;
  }

  &__label-footer {
    color: $first-text-color;
  }
}
